.sidebar
    max-width: 240px
    height: 100vh
    padding-top: 41px
    background: #F3F4F9
    &__logo
        padding-left: 43px
        margin-bottom: 60px
        display: flex
        align-items: center
        color: #333
        text-decoration: none
        span
            font-weight: 600
            text-transform: uppercase
            margin-top: 4px
            margin-left: 10px